body {
    font-family: Sans-serif;
    color: purple;

  }
  

  
  img{
    height:50px;
    width:50px;
    display: block;
   
   
  }


  #page2 .myDiv {
     font-family: sans-serif;
     

  }

  #page2 .h1 {
    color: black;
  }
